@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
    @keyframes my-animation {
      20% {
        opacity: 1;
        transform: translateX(-300%);
      }
      100% {
        opacity: 2;
        transform: translateX(300);
      }
    }
    
    @font-face {
      font-family: 'establishRetrosansOTF';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }

    h1{
      color: #65BF85;
    }
    body  {
      text-align: center;
      font-family: 'Carter One', 'establishRetrosansOTF', cursive;
      background-color: #F2F2F2;
    }

    .headoneone > p {
      display: inline-block;
      width: auto;
      padding-left: 40px;
      font-size: 14px;
      line-height: 2em;
      animation: my-animation 100s linear infinite;
      color: #65BF85;
    }

    .headonetwo > h1 {
      display: inline-block;
      margin-left: 30px;
      padding-left: 15px;
      padding-right: 15px;
    }

    .headonetwo > p {
      display: inline-block;
      padding-left: 15px;
      padding-right: 15px;
      color: #65BF85;
    }

    a {
      text-decoration: none;
      color: #65BF85;
    }

    table {
      margin: auto;
      text-align: center;
      color:#65BF85;
      border-collapse: collapse;
    }
    
    th, td{
      padding: 10px;
      text-align: center;
      background-color: #A0D9B4;
    }
    
    .td1  {
      padding-left: 30px;
      padding-right: 30px;
    }
    
    .td2  {
      padding-left: 50px;
      padding-right: 50px;
    }
    
    .td3  {
      padding-left: 40px;
      padding-right: 40px;
    }
    
    .td4  {
      padding-left: 40px;
      padding-right: 40px;
    }
    
    .box {
      text-align: center;
      padding: 20px;
    }